body {
  font-family: "Century Gothic", "Times New Roman", sans-serif;
  font-size: 1.2em;
  color: white;
  text-shadow: 2px 2px 5px black;
  /*background-image: url("../img/fon.jpg");*/
  background-color: black;
  background-attachment: fixed;
  background-repeat: repeat;
}

.central-block {
  margin: 2em auto;
  width: 40%;
  text-align: center;
  font-size: 2.5em;
}

.form-block {
  font-size: 0.8em;
}

.form-links {
  display: inline-block;
  margin: 1em;
  padding: 5%;
  color: white;
  border: white 3px double;
  text-decoration: none;
  transition: 0.6s linear;
  min-width: 75%;
}

.form-links:hover {
  color: red;
  border: red double;
  border-radius: 50%;
  scale: 1.15;
  text-shadow: 0 0 50px red;
}

.title {
  font-size: 2em;
}

.cont-rounded {
  border-radius: 50%;
}

.cont-corners {
  border-radius: 10%;
}

th {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
}



.sub-button {
  background-color: white;
  color: black;
  margin-top: 2%;
  font-size: 0.6em
}

#id_image {
  font-size: 0.4em;
  list-style-type: none;
}

.errorlist {
  display: none;
}

.animal {
  text-align: right;
  text-align: -moz-right;
  text-align: -webkit-right;
  font-size: 0.8em;
  margin: 0.5%;
}
label {
  font-size: 0.8em;
}
input {
  max-width: 80%;
  border-radius: 10%;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}
